<<<<<<< .merge_file_svdHs6
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9f5d3;
}
.text {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #333; 
    margin: 40px;
    border-radius: 5px;
    padding: 20px;
    background-color: #ecf7ea;


}

main {
    display: flex;
    justify-content: center;
    background-color:#ecf7ea;
}

=======
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9f5d3;
}
.text {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #333; 
    margin: 40px;
    border-radius: 5px;
    padding: 20px;
    background-color: #ecf7ea;


}

main {
    display: flex;
    justify-content: center;
    background-color:#ecf7ea;
}

>>>>>>> .merge_file_ePeCqH
