# Dependências
frontend/node_modules
frontend/package-lock.json
backend/node_modules
back-end/.env


# Ficheiros do Node.js
node_modules/
npm-debug.log
package-lock.json

# Pasta de build do front-end
/frontend/dist
